{% extends "template/base.html" %}

{% block head %}
	{{ parent() }}
	{{ headMacro.coffeescript( "package/SUPackageNoma/static/js/register.coffee" ) }}
{% endblock %}
{% import "macro/section.html" as sectionMacro %}
{% import "macro/bootstrap.html" as bootstrapMacro %}
{% block content %}
  	<div class="su_prototype">
		{{ sectionMacro.text( "First Name", "results[1][fname]", { "class": "sf_validate_required", "placeholder": "First Name" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.text( "Last Name", "results[1][lname]", { "class": "sf_validate_required", "placeholder": "Last Name" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.text( "Address 1", "results[1][address1]", { "class": "sf_validate_required", "placeholder": "Address 1" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.text( "Address 2", "results[1][address2]", { "class": "sf_validate_required", "placeholder": "Address 2" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.text( "City", "results[1][city]", { "class": "sf_validate_required", "placeholder": "City" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.selectStates( "State", "results[1][state]", { "class" : "no-chzn" }) }}
		{{ sectionMacro.text( "Zip", "results[1][zip]", { "class": "sf_validate_required", "placeholder": "Zip" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.selectCountries("Country", "results[1][country]", { "class" : "no-chzn" }, "US")}}
		{{ sectionMacro.text( "e-mail", "results[1][email]", { "class": "sf_validate_required", "placeholder": "e-mail" }, { "message": "Help Text", "class": "help-block" } ) }}
		{{ sectionMacro.selectStart( "Product", "results[1][product]", { "class" : "no-chzn" }) }}
			{{ sectionMacro.option( "select" ) }}
			{% for id, option in products %}
				{{ sectionMacro.option( "$"~option.price~" - "~option.name, { "value": id } ) }}
			{% endfor %}
		{{ sectionMacro.selectEnd() }}
		<hr>
  	</div>
  	{{ sectionMacro.formStart( "post", "register/submit", {"class": "formClass"} ) }}
  	  		{{ sectionMacro.button( none, "Add Another", { "id" : "btnAdd", "value" : "Add Another"})}}
		{{ sectionMacro.submit(none, "Submit")}}
	{{ sectionMacro.formEnd() }}



{% endblock %}