{% extends "subscription/template/base.html" %}
{% import "macro/head.html" as headMacro %}
{% import "macro/form.html" as formMacro %}

{% block head %}

	{{ parent() }}
	<script type="text/javascript">
	//<![CDATA[
	jQuery(function(){
		jQuery("#transaction_form form").submit();
	});
	//]]>
	</script>

{% endblock %}

{% block content %}
{{ parent() }}
<p>
	{% trans "Please wait... You will be forwarded to the checkout shortly." %}
</p>
<div id="transaction_form">
	{{ formMacro.formStart( "post", transaction_url ) }}
		{{ formMacro.hidden( 'module', { "value": 'register' } ) }}
		{{ formMacro.hidden( 'hash', { "value": user.user_hash } ) }}
		{{ formMacro.hidden( 'submit_go_checkout1', { "value": 'yes' } ) }}
		{{ formMacro.hidden( 'submit_go_checkout2', { "value": 'yes' } ) }}
		{{ formMacro.hidden( 'first_page', { "value": '1' } ) }}
		{{ formMacro.hidden( 'module_first_page', { "value": '1' } ) }}
		{{ formMacro.hidden( 'sessid', { "value": session_id } ) }}
		{{ formMacro.hidden( 'payment_fname', { "value": user.user_fname } ) }}
		{{ formMacro.hidden( 'payment_lname', { "value": user.user_lname } ) }}
		{{ formMacro.hidden( 'payment_address', { "value": user.user_address } ) }}
		{{ formMacro.hidden( 'payment_city', { "value": user.user_city } ) }}
		{{ formMacro.hidden( 'payment_state', { "value": user.user_state } ) }}
		{{ formMacro.hidden( 'payment_zip', { "value": user.user_zip } ) }}
		{{ formMacro.hidden( 'payment_country', { "value": user.user_country } ) }}
		{{ formMacro.hidden( 'payment_phone', { "value": user.user_phone } ) }}
		{{ formMacro.hidden( 'payment_email', { "value": user.user_email } ) }}
		{{ formMacro.hidden( 'payment_total', { "value": payment_total } ) }}
		{{ formMacro.hidden( 'products_table', { "value": products_table } ) }}
		{{ formMacro.hidden( 'sub_invoice_info', { "value": sub_voice_info } ) }}
	{{ formMacro.formEnd() }}
</div>
{% endblock %}
